<h1>Movie Bot is a simple Fb Messenger Bot that finds Popular movies and runs Sentimental Analysis on the reviews for a chosen movie.</h1>

<p>
  For any questions contact ishaan.malhi@ves.ac.in
</p>
<a href="http://developer.nytimes.com"><img src="poweredby_nytimes_200c.png" alt="Data provided by New Work Times" /></a>
<p>Movie list provided by TMDb. This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
<a href="http://www.themoviedb.org/"><img src="tmdb91x81.png" alt="TMDb icon" /></a>
